.loader {
  width: 20px;
  height: 5px;
  border-radius: 5px;
  display: block;
  margin-left: 30px;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 gray, 24px 0 #fff;
  }
  66% {
    background: gray;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 gray;
  }
}
