.button{
    color: white;
    padding: 5px 10px;
    border: 1px solid white;
    list-style-type:none;
    cursor: pointer;
    &:hover{
        background-image:linear-gradient(to left,rgb(241, 72, 72), royalblue);
    }
}

.containerPaginationComponent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginationContainer{
    display: flex;
    flex-direction: row;
    width: 300px;
}

.pageClassName{
    display: flex;
    list-style-type:none;
}

.pageLinkClassName{
    @extend .button;
   
}

.previousClassName{
    @extend .button
}

.nextClassName{
    @extend .button
}

.breakClassName {
    background-color: white;
    list-style-type:none;

}

.active{
    background-color: royalblue;
    

    &:hover{
        background-color: white;
        color: black;
    }

}

.noPhotos{
    color:white
}