.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: calc(99vh - 20px);
  background-color: rgba(0 0 0 /0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
  padding: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: end;
  width: 100%;
}

.closeButton {
  width: 3rem;
  height: 2.5rem;
  background-color: rgba(0 0 0/ 0);

  border: 0;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
  }
}

.childrenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  max-height: calc(100% - 40px);
  img {
    max-height: calc(100% - 40px);
    border: 1px solid rgb(86, 86, 86);
    border-radius: 5px;
  }
}
