.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  background-color: var(--prime-bgcolor);
  color: var(var(--light-color));
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
